<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DesktopSkin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DesktopSkin.Properties.Settings>
            <setting name="G1_O1" serializeAs="String">
                <value>_001</value>
            </setting>
            <setting name="G1_O2" serializeAs="String">
                <value>_001</value>
            </setting>
            <setting name="G1_O3" serializeAs="String">
                <value>_001</value>
            </setting>
            <setting name="G1_O4" serializeAs="String">
                <value>_001</value>
            </setting>
            <setting name="G1_O5" serializeAs="String">
                <value>_001</value>
            </setting>
            <setting name="G1_O6" serializeAs="String">
                <value>_001</value>
            </setting>
            <setting name="G2_O1" serializeAs="String">
                <value>_001</value>
            </setting>
            <setting name="G2_O2" serializeAs="String">
                <value>_001</value>
            </setting>
            <setting name="G2_O3" serializeAs="String">
                <value>_001</value>
            </setting>
            <setting name="G2_O4" serializeAs="String">
                <value>_001</value>
            </setting>
            <setting name="G2_O5" serializeAs="String">
                <value>_001</value>
            </setting>
            <setting name="G2_O6" serializeAs="String">
                <value>_001</value>
            </setting>
            <setting name="G3_O1" serializeAs="String">
                <value>_001</value>
            </setting>
            <setting name="G3_O2" serializeAs="String">
                <value>_001</value>
            </setting>
            <setting name="G3_O3" serializeAs="String">
                <value>_001</value>
            </setting>
            <setting name="G3_O4" serializeAs="String">
                <value>_001</value>
            </setting>
            <setting name="G3_O5" serializeAs="String">
                <value>_001</value>
            </setting>
            <setting name="G3_O6" serializeAs="String">
                <value>_001</value>
            </setting>
            <setting name="G4_O1" serializeAs="String">
                <value>_001</value>
            </setting>
            <setting name="G4_O2" serializeAs="String">
                <value>_001</value>
            </setting>
            <setting name="G4_O3" serializeAs="String">
                <value>_001</value>
            </setting>
            <setting name="G4_O4" serializeAs="String">
                <value>_001</value>
            </setting>
            <setting name="G4_O5" serializeAs="String">
                <value>_001</value>
            </setting>
            <setting name="G4_O6" serializeAs="String">
                <value>_001</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>_001</value>
            </setting>
        </DesktopSkin.Properties.Settings>
    </userSettings>
</configuration>